<%- include('header') %>
<div class="bag">
    <div class="left">
        <h1>Cart</h1>
        <div class="orders-list">
            <% orders.forEach((order) => { %>
                <% if(orders.length>0){ %>
                <div class="order">
                    <h3><%= order.name %></h3>
                    <div class="order-inner">
                        <img src="<%= order.photo %>" id="order-image">
                        <form action="https://frosty-delight-icecream-1.onrender.com/bag/<%= order.id %>?_method=DELETE" method="post">
                            <button id="trash"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
                <%}%>

            <% }); %>
        </div>
        <form action="https://frosty-delight-icecream-1.onrender.com/menu" id="add-form">
            <button class="order" id="add-more">+</button>
        </form>
    </div>
    <div class="right">
        <div class="contact-info">
            <form action="https://frosty-delight-icecream-1.onrender.com/ordered" id="order-form" method="post">
                <div class="c">
                    <label for="name">Name :</label>
                    <input type="text" placeholder="Enter your name .." id="name" name="name" required>
                </div>
                <div class="c">
                    <label for="email">Email :</label>
                    <input type="email" placeholder="Enter your email .." id="email" name="email" required>
                </div>
                <div class="c">
                    <label for="contactNumber">Phone no :</label>
                    <input type="number" placeholder="Enter your phone number .." name="contactNumber" id="contactNumber" required>
                </div>
                <div class="c">
                    <label for="contactAddress">Address :</label>
                    <textarea placeholder="Enter your address .." id="contactAddress" name="contactAddress" required></textarea>
                </div>
                <div class="contact-button">
                    <button class="bt5">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>
