<%- include('header') %>
<div class="bag">
    <div class="left">
        <h1>Bag</h1>
        <div class="orders-list">
            <% orders.forEach((order) => { %>
                <div class="order">
                    <h3><%= order.name %></h3>
                    <div class="order-inner">
                        <img src="<%= order.photo %>" id="order-image">
                        <form action="http://localhost:8080/bag/<%= order.id %>?_method=DELETE" method="post">
                            <button><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="contact-button">
            <button class="bt1">Place Order</button>
        </div>
    </div>
    <div class="right">
        <div class="contact-info">
            <div class="c">
                <label for="name">Name :</label>
                <input type="text" placeholder="Enter your name .." id="name" required>
            </div>
            <div class="c">
                <label for="email">Email :</label>
                <input type="email" placeholder="Enter your email .." id="email" required>
            </div>
            <div class="c">
                <label for="contact-no">Phone no :</label>
                <input type="number" placeholder="Enter your phone number .." required>
            </div>
            <div class="c">
                <label for="contact-address">Address :</label>
                <textarea placeholder="Enter your address .." id="contact-address" required></textarea>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
