<%- include('header') %>
<div class="ordered">
    <h1>Order Placed<i class="fa-solid fa-check"></i></h1>
    <h5>Delivering to</h5>
    <p> <%=username%></p>
    <p> <%=userNo%></p>
    <p> <%=userAd%></p>
</div>
<%- include('footer') %>