<%- include('header') %>
<div class="ordered">
    <h1>Order Placed &nbsp;✅ </h1>
    <h5>Delivering to</h5>
    <p> <%=username%></p>
    <p> <%=userNo%></p>
    <p> <%=userAd%></p>
</div>
<%- include('footer') %>